h2 {
    color: chocolate;
   }

h3 {
    font-style: italic;
   }

#figlio {
         background-color: darkgrey;
         text-align: center;
         border-bottom: 1px solid chocolate;
        }

footer {
         border-top: 1px solid chocolate;
         text-align: center;
        }